.c-hero {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5%;
  box-sizing: border-box;
  &__title {
    width: 50%;
    text-align: right;
    font-weight: 200;
    color: #fff;
    font-size: 4.2rem;
    margin-top: -20vh;
    letter-spacing: 0.4rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background: #fff;
      @include border;
      animation-duration: 2s;
    }
  }
  @include mobile{
    height: 20vh;
    &__title {
      margin-top: 0;
      animation-name: none;
    }
  };
  @include tablet{
    height: 40vh;
    padding: 10%;
  };
}
